html{
    box-sizing: border-box;
   font-family: Red Hat Display;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.wrapper{
    width: 1440px;
    height: 900px;
    background-color: #D6E1FF;
    
 
}
.container{
    height: 697px;
    width: 450px;
    left: 495px;
    top: 102px;
    border-radius: 0px;
    background-color: white;
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 220px 457px;
    margin: 0 auto;

}
.top-content{
    grid-column: 1/2;
    grid-row: 1/2;
}
.bottom-content{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 48px;
}
span{
    display:flex;
    justify-content: space-between;
    height: 98px;
    width: 354px;
    background-color: lightgrey;
    margin-bottom: 50px;
    padding-top: 25px;
}
span img{
    height: 48px;
    width: 48px;
   

}
.heading-h-1{
    font-family: Red Hat Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 37px;
    letter-spacing: 0px;
    text-align: center;

}
.paragraph-p-1{
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 17px;
    margin-bottom: 20px;

}
.button{
    display: block;
     background-color: #382AE1;
     height: 35px;
     width: 354px;
     color: whitesmoke;
     text-decoration: none;
     text-align: center;
     padding-top: 8px;
margin-bottom: 40px;
}
.plan{

   justify-content: space-between;
   height: 48px;
   width: 92px;
   
   

}
.change{
    font-family: Red Hat Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    height: 19px;
    width: 52px;
    left: 254px;
    top: 15px;
    border-radius: nullpx;
    color: #382AE1;
    text-decoration: underline;

}
.cancel{
    font-family: Red Hat Display;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    text-align: center;

}